doctype html
html
    head
        title HTML Tabel
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='../resources/style/test.css')

    body
        table
            tr
                th Website/opdracht
                td(colspan='6') Portfolio opdracht 1
            tr
                th Datum
                td(colspan='6') 06-03-2016
            tr
                th Valide html5
                td.green(colspan='6')
            tr
                th Valide css3
                td.green(colspan='6')
            tr
                th Valide javascript
                td.green(colspan='6')
            tr
                th Browser
                td(colspan='3')
                    img(src='http://jggmkz4ba1-flywheel.netdna-ssl.com/wp-content/images_posts/2015/04/CDx9t8_WMAIzbSV.jpg')
                    | IE
                td
                    img(src='https://www.mozilla.org/media/img/styleguide/identity/firefox/guidelines-logo.7ea045a4e288.png')
                    | Firefox
                td
                    img(src='http://img.talkandroid.com/uploads/2015/11/Chrome-Logo.png')
                    | Chrome
                td
                    img(src='http://www.findmysoft.com/img/news/inside/Opera-new-logo-large_1442920228.png')
                    | Opera
            tr
                th Versie
                td 8
                td 9
                td 10
                td 25
                td 31
                td 18
            tr
                th Design
                td.orange
                td.orange
                td.orange
                td.orange
                td.green
                td.green

        h2 Legenda
        span.green Werkt goed
        span.orange Werkt gedeeltelijk
        span.red Werkt niet
        span.grey Niet getest

        h1 Onderbouwing van resultaten
        p
            | De validiteit is getest door middel van de volgende website:
            a(href='https://validator.w3.org/') https://validator.w3.org/
            br
            br
            |     De splashsreen animatie wordt niet uitgevoerd op Internet Explorer en Mozilla Firefox.
            br
            |     De andere functionaliteiten werken wel naar behoren.
            br
            br
            |     Een eis van de opdracht was het verwerken van audio of video in de game. Wij hebben ervoor gekozen om audio te
            |     verwerken.
            br
            |     Dit hebben wij gedaan door aan het einde van de game een geluid te laten horen. Een speler die gewonnen heeft krijgt
            |     een gejuich te horen
            br
            |     en de speler die verloren heeft krijgt een somber geluidje te horen.
            br
            br
            |     De game hebben wij getest op verschillende browsers en apparaten.
            br
            |     Het was van belang dat de game responsive werkte en hier hebben wij ook rekening mee gehouden tijdens het ontwerpen.