doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Galgje
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Leckerli+One', type='text/css')
        link(href='resources/style/site.css', rel='stylesheet')
        //link(href='resources/style/mobiel.css', rel='stylesheet')

    body
        #content
            h1 Galgje
            h2 Begin een game
            form(action='game')
                button(type='submit') Speel spel
            p Galgje 2016 ||  by: Duncan, Jasper en Sander