* {
  font-family: 'Leckerli One', sans-serif;
  box-sizing: border-box; }

html {
  background: url("../img/wood-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  text-shadow: 1px 1px black; }

#content {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.2) none;
  height: 100%;
  padding: 0 20px 20px 20px;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: block;
  flex-flow: row wrap;
  justify-content: space-around; }

h1 {
  height: 100px;
  width: 100%;
  color: white;
  text-shadow: 1px 2px black;
  letter-spacing: 6px;
  font-size: 80px;
  text-align: center;
  margin: 40px auto; }

#inputs {
  display: inline-block; }
  #inputs #letter {
    display: none;
    padding: 3px 5px;
    width: 75px;
    margin-left: 10px;
    max-height: 80px;
    text-align: center;
    color: black;
    font-size: 20px;
    float: right; }

input[type] {
  border: none; }

button {
  padding: 20px;
  border: none;
  background-color: white;
  transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out; }
  button:hover {
    background-color: black;
    color: white;
    cursor: pointer; }

#start {
  margin-top: 20px;
  width: 100%; }

.raden {
  margin: 5px 0; }

#geradenLetter {
  font-weight: bold; }

.woord {
  padding: 20px;
  color: white;
  display: inline-block;
  float: left; }
  .woord input {
    height: 80px; }

.game {
  display: inline-block;
  width: 44%;
  padding: 0 3%;
  vertical-align: top; }

#verzendKnop, .pogingen, #restart {
  display: none; }

#zoeken {
  color: white; }

h2 {
  color: white;
  font-weight: normal;
  margin: 0; }

#tegenstander {
  width: 400px;
  margin: auto; }
  #tegenstander #gevonden {
    display: none; }

#speler {
  margin: auto; }

.pogingen {
  margin: 5px 0;
  font-size: 20px; }
  .pogingen.gewonnen {
    color: green; }
  .pogingen.verloren {
    color: red; }

#pogingen1 {
  position: relative;
  float: left;
  bottom: 0; }

#pogingen2 {
  position: relative;
  float: left;
  bottom: 0; }

@media only screen and (max-width: 500px) {
  #content {
    width: 80%; }

  h1 {
    font-size: 50px; } }

/*# sourceMappingURL=site.css.map */
