
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}

.orange {
    background-color: orange;
}

img {
    width: 50px;
    height: 50px;
    display: block;
}

